@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
}

h1 {
  padding: 20px;
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
  padding: 10px;
  margin: 0 5px 5px 5px;
  background-color: lightgray;
}
input {
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 5px;
}

select {
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 5px;
  margin-right: 30px;
}
span {
  margin-left: 10px;
}

.flex {
  display: flex;
  align-items: center;
  padding: 10px;
}
.label {
  padding: 10px;
  width: 400px;
  text-align: end;
}
.component {
  padding: 10px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.component-date {
  width: 350px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.select{
  min-width: 90px;
}
.select-interno{
  min-width: 155px;
  margin-left: -20px;
  margin-right: 10px;

}

.ml-30 {
  margin-left: 30px;
}
